* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    --twitter-color: #DF3821;
    --twitter-background: #e6ecf0;
  }
  
  .sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--twitter-color);
  }
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  
  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
  
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* feed */
  .feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* tweet box */
  .tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetBox form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }
  
  /* post */
  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
  }
  
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: #DF3821;
  }
  
  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__avatar {
    padding: 20px;
  }
  
  /* widgets */
  .widgets {
    flex: 0.3;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: #DF3821;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Authentication buttons and container */
  .auth__container {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: #DF3821;
    border-radius: 20px;
    text-align: center;
  }
  
  .auth__container h2 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  .auth__signupButton,
  .auth__loginButton,
  .auth__googleButton {
    display: block;
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .auth__signupButton:hover,
  .auth__loginButton:hover,
  .auth__googleButton:hover {
    background-color: #DF3821;
    transition: background-color 200ms ease-in;
  }
  
  .auth__googleButton {
    background-color: white;
    color: #DF3821;
    border: 2px solid var(--twitter-color);
  }
  
  .auth__googleButton i {
    margin-right: 10px;
    color: #DF3821;
  }
  
  .auth__googleButton:hover {
    background-color: #e6ecf0;
  }
  .sidebar__icon {
    width: 200px;
    height: 200px;
    margin: 10px 0;
  }
  .tweetBox__cameraButton {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-left: 10px;
    padding: 8px;
  }
  
  .tweetBox__cameraButton span {
    font-size: 24px;
    color: #DF3821;
  }
  
  .sidebarOption {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  
  .sidebarOption:hover {
    background-color: #f0f0f0;
  }
  
  .sidebarOption.active {
    background-color: #DF3821;
    color: #fff;
  }
  
  .sidebarOption span.material-icons {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .sidebarOption h2 {
    font-size: 16px;
    margin: 0;
  }

  .profile {
    background-color: #ffffff;
    border-bottom: 1px solid #DF3821;
    padding-bottom: 20px;
}

.profile__banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile__picture {
    width: 120px;
    height: 120px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -60px;
    background-color: #ffffff;
}

.profile__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__details {
    margin-top: 80px;
    text-align: center;
}

.profile__details h2 {
    font-size: 24px;
    font-weight: 700;
}

.profile__details h3 {
    color: #DF3821;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile__details p {
    margin: 15px 0;
    font-size: 16px;
    color: #14171a;
}

.profile__editButton {
    background-color: #DF3821;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile__editButton:hover {
    background-color: #DF3821;
}

/* Modal */
.modal {
  display: none; /* Varsayılan olarak modal görünmez */
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Yarı şeffaf siyah arka plan */
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Modal genişliği */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form label {
  margin-top: 10px;
  font-weight: bold;
}

.modal__form input,
.modal__form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.modal__form textarea {
  resize: vertical;
}

.modal__section {
  margin-bottom: 20px;
}

.modal__section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__form button {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
}

.modal__form button:hover {
  background-color: #1a91da;
}

.post__footer {
  display: flex;
  justify-content: space-between; /* İçeriği aralıklı hizalama */
  align-items: center; /* Yatay ve dikey hizalama */
  margin-top: 10px; /* Üst boşluk */
}

.post__icons {
  display: flex;
  align-items: center; /* Dikey hizalama */
}

.post__icon {
  font-size: 18px; /* İkon boyutu */
  color: #666; /* İkon rengi */
  margin-right: 10px; /* Sağ boşluk */
  cursor: pointer; /* İkon üzerine gelince el işareti */
  transition: color 0.3s; /* Renk geçişi */
}

.post__icon:hover {
  color: #DF3821; /* İkon hover rengi */
}

.post__editButton {
  background-color: #DF3821; /* Mavi renk */
  color: #fff; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  padding: 8px 16px; /* Buton içi boşluklar */
  cursor: pointer; /* Üzerine gelince el işareti */
  border-radius: 5px; /* Köşe yuvarlama */
  transition: background-color 0.3s; /* Arka plan rengi geçişi */
}

.post__editButton:hover {
  background-color: #DF3821; /* Buton hover rengi */
}

.post__footer {
  display: flex;
  justify-content: space-between; /* İçeriği aralıklı hizalama */
  align-items: center; /* Yatay ve dikey hizalama */
  margin-top: 10px; /* Üst boşluk */
}

.post__footer span {
  font-size: 18px; /* İkon boyutu */
  color: #DF3821; /* İkon rengi */
  margin-right: 10px; /* Sağ boşluk */
  cursor: pointer; /* İkon üzerine gelince el işareti */
  transition: color 0.3s; /* Renk geçişi */
}

.post__footer span:hover {
  color: #DF3821; /* İkon hover rengi */
}
