<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/discovered.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
</head>

<body>
    <!-- sidebar starts -->
    <div class="sidebar">
        <!-- Twitter icon replaced with a custom image -->
        <img src="/static/images/hüpe.png" alt="Hüpe" class="sidebar__icon" />
        <form action="/home" method="get">
            <button type="submit" class="sidebarOption active">
                <span class="material-icons"> home </span>
                <h2>Ana Sayfa</h2>
            </button>
        </form>

        <form action="">
            <button type="submit" class="sidebarOption">
                <span class="material-icons"> search </span>
                <h2>Keşfet</h2>
            </button>
        </form>

        <form action="/profile" method="get">
            <button type="submit" class="sidebarOption">
                <span class="material-icons"> perm_identity </span>
                <h2>Profil</h2>
            </button>
        </form>
    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
        <div class="feed__header">
            <h2>Hüpeye Hoşgeldiniz...</h2>
        </div>
        {{if .IsLoggedIn}}
        <!-- tweetbox starts -->
        <div class="tweetBox">
            <form action="/filter" method="post">
                <div class="tweetbox__input">
                    <!-- Sadece textarea ve radyo butonları ekleniyor -->
                    <textarea placeholder="Ara..." class="tweetbox__inputMessage" name="content" rows="3" minlength="10"></textarea>
                </div>
                <!-- Radio buttons for filtering -->
                <div class="tweetBox__filters">
                    <input type="radio" id="likes" name="filter" value="likes">
                    <label for="likes">Beğeniler</label>
                    <input type="radio" id="allPosts" name="filter" value="allPosts">
                    <label for="allPosts">Tüm Postlar</label>
                    <input type="radio" id="categories" name="filter" value="categories">
                    <label for="categories">Kategoriler</label>
                </div>
                <!-- Search Button -->
                <button type="submit" class="tweetBox__searchButton">Ara</button>
            </form>
        </div>
        {{end}}
        <!-- tweetbox ends -->
    </div>
    <!-- feed ends -->

    <!-- post starts -->
    {{range .Posts}}
    <div class="post">
        <div class="post__avatar">
            <img src="data:image/png;base64,{{.PostImage}}" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        Kullanıcı Adı
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@KullanıcıAdı</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>{{.PostTitle}}</p>
                </div>
                <div class="post__headerDescription">
                    <p>{{.PostContent}}</p>
                </div>
            </div>
            {{if .PostImage}}
            <img src="data:image/png;base64,{{.PostImage}}" alt="" />
            {{end}}
            <div class="post__footer">
                <button class="post__footerButton">
                    <span class="material-icons"> thumb_up </span> Beğen
                </button>
                <button class="post__footerButton">
                    <span class="material-icons"> thumb_down </span> Beğenme
                </button>
                <button class="post__footerButton commentButton">
                    <span class="material-icons"> comment </span> Yorum Yap
                </button>
            </div>
        </div>
    </div>
    {{end}}
    <!-- post ends -->
</div>
<!-- feed ends -->

    <!-- Scripts -->
    <script src="/static/js/homepage.js"></script>
</body>

</html>
