<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/homepage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
</head>

<body>
    <!-- sidebar starts -->
    <div class="sidebar">
        <!-- Twitter icon replaced with a custom image -->
        <img src="/static/images/hüpe.png" alt="Hüpe" class="sidebar__icon" />
        <form action="/home" method="get">
            <button type="submit" class="sidebarOption active">
                <span class="material-icons"> home </span>
                <h2>Ana Sayfa</h2>
            </button>
        </form>


        <form action="/discover" method="get">
            <button type="submit" class="sidebarOption">
                <span class="material-icons"> search </span>
                <h2>Keşfet</h2>
            </button>
        </form>

        <form action="/profile" method="get">
            <button type="submit" class="sidebarOption">
                <span class="material-icons"> perm_identity </span>
                <h2>Profil</h2>
            </button>
        </form>
    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
        <div class="feed__header">
            <h2>Hüpeye Hoşgeldiniz...</h2>
        </div>
        {{if .IsLoggedIn}}
        <!-- tweetbox starts -->
        <div class="tweetBox">
            <form action="/home" method="post" enctype="multipart/form-data">
                <div class="tweetbox__input">
                    <img src="data:image/png;base64,{{.User.ProfileImage}}" alt="" width="40px" />
                    <div class="tweetbox__inputContainer">
                        <input type="text" placeholder="Başlık ekleyin..." class="tweetbox__inputTitle" name="title"
                            minlength="5" />
                        <input type="text" placeholder="Düşüncelerini paylaş.." class="tweetbox__inputMessage"
                            name="content" minlength="10" />
                    </div>
                </div>
                <button type="submit" class="tweetBox__tweetButton">Gönder</button>
                <button class="tweetBox__cameraButton">
                    <span class="material-icons"> camera_alt </span>
                </button>
                <input type="file" id="postPicture" name="postPicture" accept="image/*" />

            </form>
        </div>
        {{end}}
        <!-- tweetbox ends -->

        <!-- post starts -->
        {{range .Posts}}
        <div class="post">
            <div class="post__avatar">
                <img src="data:image/png;base64,{{.UserData.ProfileImage}}" alt="" />
            </div>

            <div class="post__body">
                <div class="post__header">
                    <div class="post__headerText">
                        <h3>
                            {{.UserData.Name}} {{.UserData.Surname}}
                            <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                                </span>@{{.UserData.Username}}</span>
                        </h3>
                    </div>
                    <div class="post__headerDescription">
                        <p>{{.PostData.PostTitle}}</p>
                    </div>
                    <div class="post__headerDescription">
                        <p>{{.PostData.PostContent}}</p>
                    </div>
                </div>
                {{if .PostData.PostImage}}
                <img src="data:image/png;base64,{{.PostData.PostImage}}" alt="" />
                {{end}}
                <div class="post__footer">
                    <!-- Beğeni İkonu -->
                    <form action="/home/likepost" method="post">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="material-icons">thumb_up</button>
                        <label>{{.PostData.PostLikeCount}}</label>
                    </form>
                    <!-- Beğenmeme İkonu -->
                    <form action="/home/dislikepost" method="post">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="material-icons">thumb_down</button>
                        <label>{{.PostData.PostDislikeCount}}</label>
                    </form>
                    <form action="/postpage">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="post__footerButton commentButton">
                            <span class="material-icons"> comment </span> Yorum Yap
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{end}}
        <!-- post ends -->
    </div>
    <!-- feed ends -->

    <!-- Widgets bölümü -->
    <div class="widgets">
        <div class="widgets__input">
            <span class="material-icons widgets__searchIcon">search</span>
            <input type="text" placeholder="Ara.." />
        </div>

        <div class="widgets__widgetContainer">
            <h2>En Çok Beğenilen Gönderiler</h2>
            {{range .TopPosts}}

            <div class="post__body">
                <div class="post__header">
                    <div class="post__headerText">
                        <h3>
                            {{.UserData.Name}} {{.UserData.Surname}}
                            <span class="post__headerSpecial">
                                <span class="material-icons post__badge">verified</span>
                                @{{.UserData.Username}}
                            </span>
                        </h3>
                    </div>
                    <div class="post__headerDescription">
                        <p>{{.PostData.PostContent}}</p>
                    </div>
                </div>
                {{if .PostData.PostImage}}
                <img src="data:image/png;base64,{{.PostData.PostImage}}" alt="" />
                {{end}}
                <div class="post__footer">
                    <!-- Beğeni İkonu -->
                    <form action="/home/likepost" method="post">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="material-icons">thumb_up</button>
                        <label>{{.PostData.PostLikeCount}}</label>
                    </form>
                    <!-- Beğenmeme İkonu -->
                    <form action="/home/dislikepost" method="post">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="material-icons">thumb_down</button>
                        <label>{{.PostData.PostDislikeCount}}</label>
                    </form>
                    <!-- Yorum İkonu -->
                    <form action="/postpage">
                        <button type="submit" value="{{.PostData.PostID}}" name="id"
                            class="post__footerButton commentButton">
                            <span class="material-icons"> comment </span> Yorum Yap
                        </button>
                    </form>
                </div>
            </div>


            {{end}}

        </div>

        <!-- Giriş Yap ve Kayıt Ol Bölümü -->
        {{if not .IsLoggedIn}}
        <div class="login-signup">
            <h2>Giriş Yap veya Kayıt Ol</h2>
            <form action="/login" method="get">
                <button type="submit" class="login-button">Giriş Yap</button>
            </form>
            <form action="/signup" method="get">
                <button type="submit" class="signup-button">Kayıt Ol</button>
            </form>
        </div>
        {{end}}
    </div>



    <!-- Scripts -->
    <script src="/static/js/homepage.js"></script>
</body>

</html>